/* ------------------
    Google Fonts
------------------  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ------------------
    Common Styles
------------------- */

*{
    margin: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:  #E5E5E5;;
}

h3{
    max-width: 90%;
}



/*--------------------------------
    Top Player Starts from Here
---------------------------------*/
main{
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-1{
    width: 870px;
    height: 600px;
    padding: 33px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
}

.section-1 h1{
    font-size: 24px;
    color: #562EFF;
}
.section-1-part-1{
    padding-bottom: 30px;
}

.player-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 35px;
}

.player-item{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-top:30px;
}

.player-item img{
width: 56px;
height: 56px;
}

.player-item h2{
    margin-left: 15px;
    font-size: 18px;
}

/*-----------------------------------
    Top blog section Starts from Here
--------------------------------------*/

.blog-section-title{
    color:#562EFF;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.blog-item{
    display: flex;
    align-items: center;
}
.blog-item img{
    height: 117px;
    width: 177px;
    margin-right: 15px;
}

.blog-text-color{
color: #562EFF;
font-size: 16px;
}
.by-color{
color: #9F9F9F;
}

/*----------------------------------
    Latest Course Starts from Here
------------------------------------*/

.course-section{
    background-color: white;
    width: 870px;
    border-radius: 8px;
    margin: 0 auto;
    padding:30px;
}

.course-section h2{
    color: #562EFF;
    font-size: 24px;
}

.course-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}
.course{
    width: 230px;
    padding:3px;
}

.course img{
    width: 224px;
    height: 104px;
}

.course-by{
    color: #ED6B4F;
    font-size: 16px;
}

.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.raings{
    color: yellow;
}
.time{
    border: 1px solid red;
    text-align: center;
    border-radius: 20px;
    width: 100px;
    background-color: 
    #FFE4E8;
}

/*------------------------------------
    Tablet Responsive Starts from Here
--------------------------------------*/

@media only screen and (max-width:992px) and (min-width:669px) {
    .section-1{
        height: auto;
    }
    .player-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .blog-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }


    .blog-item{
        display: block;
    }

    .course-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

}


/*------------------------------------
    Mobile Responsive Starts from Here
--------------------------------------*/

@media only screen and (max-width:668px){
    .section-1{
        height: auto;
        width: 100%;
    }
    .player-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 500px;
    }

    .player-item{
        width: 400px;
    }

    .blog-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0 auto;
    }
    
    .blog-item{
        display: block;
    }

    .course-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0 auto;
    }

    .blog-item div {
        max-width: 300px;
    }

}